.header {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	line-height: var(--header-height);
	background-color: var(--header-background);
	box-shadow: inset 0 -1px 6px var(--header-border);
}

.header h1 {
	margin: 0;
	text-align: center;
	font-size: 1.2rem;
	flex-grow: 1;
}

.backButton {
	float: left;
	margin-right: var(--spacing);
}

.backButton a {
	--size: 32px;

	width: var(--size);
	height: var(--size);
	line-height: var(--size);
	text-align: center;
	color: #ddd;
	display: block;
}

.backButton a:hover {
	color: #fff;
}
