:root {
	--spacing: 16px;
	--color: #eee;
	--background: #1a1a1a;
	--border-color: #000;
	--header-border: rgba(0, 0, 0, 0.15);
	--header-background: #111;
	--header-height: 42px;
}

* {
	box-sizing: border-box;
}

body {
	position: relative;
	color: var(--color);
	height: 100vh;
	margin: 0;
	background-color: var(--background);
	font-family: Arial, Helvetica, Helvetica Neue, serif;

	/* overflow-y: hidden; */
}

#root {
	height: 100vh;
}

h2 {
	margin: 0;
	font-size: 1.75rem;
	letter-spacing: -0.025em;
	color: #fff;
}

li {
	list-style: none;
}

a {
	color: rgb(255, 161, 107);
	text-decoration: none;
	transition: color 0.3s;

	&:hover {
		color: #fff;
		cursor: pointer;
	}
}

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
