:root {
	--spacing: 16px;
	--color: #eee;
	--background: #222;
	--border-color: #000;
}

* {
	box-sizing: border-box;
}

body {
	position: relative;
	color: var(--color);
	height: 100vh;
	margin: 0;
	background-color: var(--background);
	font-family: Arial, Helvetica, Helvetica Neue, serif;
	overflow-y: hidden;
}

h2 {
	margin: 0;
	font-size: 1.75rem;
	letter-spacing: -0.025em;
	color: #fff;
}

p {
	font-size: 24px;
}

li {
	list-style: none;
}

a {
	color: rgb(255, 161, 107);
	text-decoration: none;
	transition: color 0.3s;
}

a:hover {
	color: #fff;
	cursor: pointer;
}

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
